ant specific
dist/
build/
 
 
#coverage tool specific

coverage
.jacocoverage
.exec-4946784342059
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class

#gimp file
*.xcf

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock